<!-- 
<header class="fedex-header">

    <nav class="fedex-nav">
        <div class="fedex-wrapper">
           <a class="fedex-header__logo_wrapper"  routerLink ="/home" routerLinkActive="active">
            <span>
                <img src="https://www.fedex.com/content/dam/fedex-com/logos/logo.png" width="100%" height="100%" class="fedex-header-logo" alt="FedEx Logo" style="outline: none;">
            </span>
           </a>
           <div class="fedex-global-nav fedex-grid">
            <div class="fedex-column">
                <a routerLink ="/wefedex"  routerLinkActive="active">
                    <span>We&#64;Fedex</span>
                </a>
            </div>
            <div class="fedex-column">
                <a routerLink ="/businessfedex" routerLinkActive="active">
                 <span>Business&#64;Fedex</span> 
                </a>
            </div>
            <div class="fedex-column">
                <a routerLink="/peoplededex" routerLinkActive="active">
                    <span>People&#64;Fedex </span>
                </a>
            </div>

           </div>
       </div>
       

   </nav>

</header> -->

