<footer class="fedex-footer">
    <div class="fedex-container">
        <div class="fedex-wrapper">
            <div class="fedex-copyright">
                <p>© FedEx 1995-2025</p>
            </div>
            <div class="fedx-footer-links">
                <div class="fedex-links">
                    <a href="https://www.fedex.com/en-us/sitemap.html" aria-label="Site Map" title="Site Map"
                        target="_self" class="fxg-img-noIcon fxg-link js-fxgc-init default fxg-keyboard"
                        data-analytics="ftr|link|Site Map" onclick="FDX.DTM.pushLinkInfo(this)" style="color:inherit;">
                        <span class="fxg-mouse" tabindex="-1">
                            Site Map
                        </span>
                    </a>
                </div>

                <div class="fedex-links">
                    <a href="https://www.fedex.com/en-us/terms-of-use.html" aria-label="Terms of Use"
                        title="Terms of Use" target="_self"
                        class="fxg-img-noIcon fxg-link js-fxgc-init default fxg-keyboard"
                        data-analytics="ftr|link|Terms of Use" onclick="FDX.DTM.pushLinkInfo(this)"
                        style="color:inherit;">
                        <span class="fxg-mouse" tabindex="-1">
                            Terms of Use
                        </span>
                    </a>
                </div>
                <div class="fedex-links">
                    <a href="https://www.fedex.com/en-us/trust-center.html" aria-label="Privacy &amp; Security"
                        title="Privacy &amp; Security" target="_self"
                         onclick="FDX.DTM.pushLinkInfo(this);">
                        <span  >
                            Privacy &amp; Security
                        </span>
                    </a>
                </div>
       
            </div>
        </div>
    </div>
   

      
</footer>
