<nav class="fedex-nav">
    <div class="fedex-wrapper">
        <a class="fedex-header__logo_wrapper" routerLink="/home" routerLinkActive="active">
            <span>
                <img src="https://www.fedex.com/content/dam/fedex-com/logos/logo.png" width="100%" height="100%"
                    class="fedex-header-logo" alt="FedEx Logo" style="outline: none;">
            </span>
        </a>
        <div class="fedex-global-nav fedex-grid">

            <div class="dropdown">
                <a  class="dropbtn" routerLink="/wefedex" routerLinkActive="active">We&#64;Fedex</a>
                <div class="dropdown-content">
                    <a href="#">Our Journey So
                        Far</a>
                    <a href="#">Our Operating
                        Structure</a>
                    <a href="#">What We Do</a>
                </div>
              </div>

              <div class="dropdown">
                <a class="dropbtn" routerLink="/businessfedex" routerLinkActive="active">Business&#64;Fedex</a>
                <div class="dropdown-content">
                    <a href="#">AMS</a>
                    <a href="#">Growth</a>
                    <a href="#">Automation & AI</a>
                    <a href="#">Client Value</a>
                    <a href="#">Culture</a>
                </div>
              </div>

              <div class="dropdown">
                <a class="dropbtn" routerLink="/peoplededex" routerLinkActive="active">People&#64;Fedex</a>
                <div class="dropdown-content">
                    <a href="#">Launchpad for new joiners</a>
                    <a href="#">Learning & Proficiency </a>
                    <a href="#">iAspire</a>
                    <a href="#">I&D</a>
                </div>
              </div>
            

        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>