<div class="fedex-main-container">

    <div class="fedex-sub-container">
        <div class="fedex-vedio-container">
            <h2>
                Welcome to the world of Accenture FedEx
            </h2>
            <iframe width="696" height="315" src="https://www.youtube.com/embed/asPPBO4dC9s?si=hdAJ6RnQ6ja68V4q"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="fedex-news-container">
            <div class="fedex-navigator-container">
                <span>Fedex Navigator thumbnail with Links</span>
            </div>
            <div>
                <h2>
                    Happenning now &#64;Fedex
                </h2>
                <p>On June 1, 2024, FedEx Ground and FedEx Services were successfully merged into Federal Express,
                    becoming
                    a single company operating a unified, fully integrated air-ground express network</p>
            </div>
        </div>


    </div>
    <div class="fedex-image-main-container">
        <div id="carouselExample" class="fedex-caraousel-container carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/images/fedex-image-one.jpg" >
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/fedex-image-two.jpg" >
                </div>
                <div class="carousel-item" >
                    <img src="../../assets/images/fedex-image-three.jpg" >
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/fedex-image-two.jpg" >
                </div>
                <div class="carousel-item" >
                    <img src="../../assets/images/fedex-image-three.jpg" >
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</div>